- name: STARTING SECURE CONFIGURATION
  meta: noop

- name: INCLUDE VARS
  include_vars: 
    file: ../vars/secure.yml
  tags: ['secure-scu','secure-scr','secure-sch','secure-scf','secure-sci']

- name: INSTALL PACKAGES
  become: true
  ansible.builtin.apt:
    name: "{{ item.name }}"
    state: "{{ item.state }}"
    update_cache: yes
  loop: "{{ secure_configuration.packages }}"

- name: CONFIGURE SECURE USER 
  become: true
  vars:
    scu: "{{ secure_configuration.configure_user }}"
  block:
    - name: CREATE SECURE USER
      ansible.builtin.user:
        user: "{{ scu.user }}"
        home: "{{ scu.home }}"
        password: "{{ scu.password | password_hash('sha512') }}"
        shell: "{{ scu.shell | default('/bin/bash') }}"
        groups: "{{ scu.groups | default('sudo') }}"
        append: "{{ scu.append | default('yes') }}"
        generate_ssh_key: "{{ scu.generate_ssh_key | default('yes') }}"
        ssh_key_file: "{{ defs.ssh_key_file }}"
        force: "{{ defs.force }}"
    
    - name: SSH-KEYS-STEPS
      import_tasks: ssh_keys.yml 
      vars: 
        conf: "{{ scu }}"
  when: secure_configuration.configure_user.enabled
  tags: ['secure-scu']

- name: CONFIGURE ROOT USER 
  become: true
  vars:
    scr: "{{ secure_configuration.configure_root }}"
  block:
    - name: ADDITIONAL CONFIGURE FOR ROOT USER
      ansible.builtin.user:
        user: "{{ scr.user }}"
        home: "{{ scr.home }}"
        password: "{{ scr.password | password_hash('sha512') }}"
        generate_ssh_key: "{{ scr.generate_ssh_key | default('yes') }}"
        ssh_key_file: "{{ defs.ssh_key_file }}"
        force: "{{ defs.force }}"
    
    - name: UPDATE ROOT PASSWORD IN ANSIBLE VARS
      ansible.builtin.set_fact:
        ansible_become_password: "{{ scr.password }}"

    - name: SSH-KEYS-STEPS
      import_tasks: ssh_keys.yml 
      vars: 
        conf: "{{ scr }}"
  when: secure_configuration.configure_root.enabled
  tags: ['secure-scr']

- name: CONFIGURE SSH
  become: true
  vars:
    scs: "{{ secure_configuration.ssh }}"
  block:
    - name: COPY SSH CONFIG
      ansible.builtin.template:
        src: sshd_config.primary
        dest: /etc/ssh/sshd_config
        mode: 0644
        backup: "{{ scs.backup | default('true') }}"
      notify: RESTART SSH
  when: secure_configuration.ssh.enabled
  tags: ['secure-sch']

- name: CONFIGURE FAIL2BAN
  become: true
  vars:
    scf: "{{ secure_configuration.fail2ban }}"
  block:
    - name: COPY FAIL2BAN CONFIG
      ansible.builtin.template:
        src: jail.local.primary
        dest: /etc/fail2ban/jail.local
        mode: 0644
      notify: RESTART FAIL2BAN
  when: secure_configuration.fail2ban.enabled
  tags: ['secure-scf']

- name: CONFIGURE NFTABLES
  become: true
  vars:
    sci: "{{ secure_configuration.iptables }}"
  block:
    - name: COPY IPTABLES CONFIG
      ansible.builtin.template:
        src: iptables.primary
        dest: iptables.primary
        mode: 0655

    - name: APPLY IPTABLES CONFIG
      ansible.builtin.shell:
        cmd: bash iptables.primary; rm iptables.primary
      environment:
        PATH: "/usr/bin:/usr/sbin"
  when: secure_configuration.iptables.enabled
  tags: ['secure-sci']