- name: RESTART SSH
  become: true
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: RESTART FAIL2BAN
  become: true
  ansible.builtin.service:
    name: fail2ban
    state: restarted
