secure_configuration:
  packages:
    - { name: "iptables", state: "latest" }
    - { name: "fail2ban", state: "present" }

  configure_user: 
    enabled: true
    user: test
    home: /home/ht/test
    password: [MASKED]
    shell: /bin/bash
    groups: sudo, docker
    append: yes
    generate_ssh_key: yes
    ssh_key: all
    localhost_destionation: ~/{{ inventory_hostname }}_user_keyfile

  configure_root:
    enabled: true
    user: root
    home: /root
    password: [MASKED]
    generate_ssh_key: yes
    ssh_key: all
    localhost_destionation: ~/{{ inventory_hostname }}_root_keyfile

  ssh:
    enabled: true

    backup: true

  fail2ban:
    enabled: true

    ssh_port: 22
    maxretry: 2
    bantime: 86400

  iptables:
    enabled: true
